<h1>BRITTANY WALD</h1>

<a href="/"><img src="/images/me.jpg" alt="yea I did this woooo" align="middle"></a>

<h2>HOW TO REACH ME</h2>

<ul>
  <li><a href="mailto:brittanga@gmail.com">Email</a></li>
  <li><a href="twitter.com/joyousbanana">Twitter</li>
</ul>