<h1>BRITTANY WALD</h1>

<a href="/contact"><img src = ""></a>

<h2>THINGS I DO</h2>
<ul>
  <li>point and laugh at stuff</li>
  <li>don't eat bananas</li>
  <li>play candy crush with all the sweet bonuses my facebook grandma gives me</li>
  <li>give $$ to street performers but not regular homeless people</li>
  <li>try to juggle</li>
  <li>dance around</li>
</ul>