<!DOCTYPE html>
<html>
<head>
  <title>My Face</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= yield %>
</body>
</html>