body {
  background: url('http://farm4.staticflickr.com/3252/2420346902_42740cc7cc_o.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2 {
  font: #f9e577;
  margin: 0 auto;

}

li {

}